.dockerignore
# Not needed as we are bundling the whole app
node_modules

# Log files
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.example
Dockerfile

# some .md files
README.md
SECURITY.md

.next
.git
.gitattributes
.vercel

# VSCode folder
.history
.trunk

# Application folder
reports
apps/nextjs/src/config/price/prices.json
apps/nextjs/src/config/price/products.json
