# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL='http://localhost:3000'
# NEXT_PUBLIC_APP_URL=https://$NEXT_PUBLIC_VERCEL_URL

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# openssl rand -base64 32
# -----------------------------------------------------------------------------
NEXTAUTH_URL='http://localhost:3000'

# openssl rand -base64 32
NEXTAUTH_SECRET='1'

GITHUB_CLIENT_ID='1'
GITHUB_CLIENT_SECRET='1'

# -----------------------------------------------------------------------------
# Email (RESEND)
# -----------------------------------------------------------------------------
RESEND_API_KEY='1'
RESEND_FROM='1'

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
# Stripe
STRIPE_API_KEY="1"
STRIPE_WEBHOOK_SECRET="1"
NEXT_PUBLIC_STRIPE_STD_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_STD_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_STD_YEARLY_PRICE_ID="price_"

NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PRICE_ID="price_"

NEXT_PUBLIC_STRIPE_BUSINESS_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PRICE_ID="price_"

# posthog
NEXT_PUBLIC_POSTHOG_KEY=" "
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# admin account
ADMIN_EMAIL="admin@example.io,root@example.com"

# next auth debug
IS_DEBUG=false

# Crowdin
CROWDIN_PROJECT_ID=
CROWDIN_PERSONAL_TOKEN=

# openssl rand -base64 32
# you need to turn on the signature in turbo.json to benefit from it
TURBO_REMOTE_CACHE_SIGNATURE_KEY=secret
TURBO_NO_UPDATE_NOTIFIER=1
